---
// src/components/layouts/Navigation.astro

type Lang = 'es' | 'en';
const lang = (Astro.props.lang ?? 'es') as Lang;

// Tipamos el objeto translations completamente
type TranslationEntry = {
	label: string;
	path: string;
};

type Translations = {
	[lang in Lang]: {
		services: TranslationEntry;
		aboutUs: TranslationEntry;
		portfolio: TranslationEntry;
		gallery: TranslationEntry;
		blog: TranslationEntry;
		testimonies: TranslationEntry;
		contact: TranslationEntry;
	};
};

const translations: Translations = {
	es: {
		services: { label: 'Servicios', path: 'services' },
		aboutUs: { label: 'Sobre Nosotros', path: 'about-us' },
		portfolio: { label: 'Portafolio', path: 'portfolio' },
		gallery: { label: 'Galeria', path: 'gallery' },
		blog: { label: 'Blog', path: 'blog' },
		testimonies: { label: 'Testimonios', path: 'testimonies' },
		contact: { label: 'Contacto', path: 'contact' },
	},
	en: {
		services: { label: 'Services', path: 'services' },
		aboutUs: { label: 'About Us', path: 'about-us' },
		portfolio: { label: 'Portfolio', path: 'portfolio' },
		gallery: { label: 'Gallery', path: 'gallery' },
		blog: { label: 'Blog', path: 'blog' },
		testimonies: { label: 'Testimonies', path: 'testimonies' },
		contact: { label: 'Contact', path: 'contact' },
	},
};

const t = translations[lang];

const links = [
	{ path: t.services.path, label: t.services.label },
	{ path: t.aboutUs.path, label: t.aboutUs.label },
	{ path: t.portfolio.path, label: t.portfolio.label },
	{ path: t.gallery.path, label: t.gallery.label },
	{ path: t.blog.path, label: t.blog.label },
	{ path: t.testimonies.path, label: t.testimonies.label },
	{ path: t.contact.path, label: t.contact.label },
];
---

<nav class="flex gap-8">
	{
		links.map((link) => (
			<a href={`/${lang}/${link.path}`} class="link hidden xl:flex">
				{link.label}
			</a>
		))
	}
</nav>
