---
// src/components/layouts/Navigation.astro
import { translations } from '../../utils/translation';

const lang = Astro.props.lang || 'es';
const t = translations[lang];

const links = [
	{ path: t.services.path, label: t.services.label },
	{ path: t.aboutUs.path, label: t.aboutUs.label },
	{ path: t.portfolio.path, label: t.portfolio.label },
	{ path: t.gallery.path, label: t.gallery.label },
	{ path: t.blog.path, label: t.blog.label },
	{ path: t.testimonies.path, label: t.testimonies.label },
	{ path: t.contact.path, label: t.contact.label },
];
---

<nav class="flex gap-8">
	{
		links.map((link) => (
			<a href={`/${lang}/${link.path}`} class="text-base hidden lg:flex">
				{link.label}
			</a>
		))
	}
</nav>
