<!-- ---
// src/components/ui/AdviceButton.astro

const { lang = 'es', key } = Astro.props;

const translations = {
	es: {
		portfolio: 'Inspírate con nuestro portafolio',
	},
	en: {
		portfolio: 'Get inspired by our portfolio',
	},
};

const t = translations[lang] ?? translations['es'];
---

<a
	class="radius hover:bg-link mx-auto inline-block cursor-pointer bg-neutral-600 px-4 py-2 text-center shadow-lg hover:scale-105"
>
	<span class="link text-white">{t[key]}</span>
</a> -->
