---
// src/components/ui/Lang.astro
import { getTranslations, Lang } from '../../utils/translation';

const lang = Astro.props.lang || 'es';
const otherLang = lang === 'es' ? 'en' : 'es';

const labels = {
	es: 'Inglés',
	en: 'Español',
};
const pathname = Astro.url.pathname.split('/')[2] || '';
const targetUrl = `/${otherLang}/${pathname}`;
---

<div class="link">
	<a href={targetUrl}>{labels[lang]}</a>
</div>
